*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

:root {
	--nav_text_color:  black;
	--background_color:  white;
	--nav_text_secondary_color: black;
	--primary_color: #EE9FE3;
	--secondary-color: #6E2964;
}

h1 {
	font-weight: 200;
	font-size: 3rem;
	color: var(--primary_color);
}

h3 {
	color: var(--secondary-color);
}

section {
	min-height: 100vh;
	width: 100%;
	background: var(--background_color);
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav .fa {
	display: none;
}

#nav-links-id {
	flex: 1;
	text-align: right;
}

#nav-links-id ul li {
	list-style: none;
	display: inline-block;
	padding: 0.5em 1em;
	position:  relative;
}

#nav-links-id ul li a {
	color: var(--nav_text_color);
	text-decoration: none;
}

#nav-links-id ul li::after {
	content: '';
	width: 0%;
	height: 0.2em;
	background: var(--secondary-color);
	display: block;
	margin: auto;
	transition: 0.5s;
}

#nav-links-id ul li:hover::after {
	width: 100%;
}

.profile {
	display: flex;
	margin:  auto;
	width: 60%;
	position: absolute;
	top:  50%;
	left:  50%;
	transform: translate(-50%, -50%);
	flex-wrap: wrap;
}
.profile img {
	height: 300px;
	border-radius: 50%;
	border:  0.5em solid white;
	box-shadow: 0 0 1.2em #aaa;
}

.profile > div {
	flex-grow: 1;
	flex-basis: calc(700px - 48%);
}

.profile-buttons {
	display: inline-flex;
	justify-content: space-between;
	width: 50%;
}

.profile-buttons > div {
	margin-top: 2em;
	padding-block: 0.5em;
	padding-inline:  1em;
	border-radius: 1.5em;
	cursor: pointer;
	transition: 0.5s;
	box-shadow: 0 0 1em #aaa;
}

.profile-buttons > div:hover {
	background: var(--primary_color);
}

.section_title {
	width: 80%;
	margin: auto;
	color:  var(--secondary-color);
}
.section_title::after {
	content: '';
	width: 100%;
	height: 0.1em;
	background: var(--primary_color);
	display: block;
}

.section_cv {
	margin-top: 5em;
}

.section_cv > ul {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section_cv > ul > li{
	list-style: none;
	flex-grow: 1;
	flex-basis: calc(700px - 31%);
	margin: 5% 1em;
}

.section_cv > ul > li h3 {
	font-weight: 200;
}

.section_cv > ul > li h2 {
	color: var(--secondary-color);
}

.section_cv > ul > li li{
	margin-left:  1em;
}

#prizes_list {
	margin-top: 5em;
	width: 30%;
	counter-reset: counter-name;
	position: relative;
}

#prizes_list > li::before{
	counter-increment: counter-name;
	content: counter(counter-name);
	position: absolute;
	left:  -1.2em;
	color: var(--nav_text_color);
	width: 1.5em;
	height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

#skills_list > li {
	flex-basis: calc(700px - 40%);
}

#skills_list > li, #prizes_list > li, #contact_list > li {
	background: var(--secondary-color);
	color: white;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 0 0 1em #999;
}

/** CONTACT LIST **/
#contact_list {
	width: 30%;
	position: relative;
	margin-top: 2em;
}

#contact_list > li {
	width: 100%;
}

#contact_list > li:hover {
	width: 110%;
}

#contact_list > li::before {
	font-family: FontAwesome;
	position: absolute;
	left: -1.2em;
	color: var(--nav_text_color);
	font-size: 1.5rem;
}


#contact_list .phone::before {
	content: '\f095';
}

#contact_list .email::before {
	content: '\f0e0';
}

#contact_list .address::before {
	content: '\f015'; 
}

@media (max-width:  1000px) {
	
	.profile img {
		height: 50vw;
		border:  0.4em solid white;
	}

	.profile-buttons  {
		width: 100%;
	}

	nav .fa {
		display: block;
		color: var(--nav_text_secondary_color);
		margin: 0.7em;
		font-size: 2.5rem;
		cursor: pointer;
	}

	nav .fa-bars {
		color: var(--nav_text_color);
		margin-left: 75vw;
	}
	#nav-links-id {
		position:  absolute;
		background: var(--primary_color);
		height: 100vh;
		width: 0;
		top:  0;
		right: 0;
		z-index: 2;
		transition: 1s;
		overflow: hidden;
	}

	#nav-links-id ul li {
		display: block;
		padding: 1.2em 3em;
	}

	#nav-links-id ul li a {
		color: var(--nav_text_secondary_color);
		font-size: 1rem;
	}

	#prizes_list {
		width: 55%;
	}

	#contact_list {
		width: 55%;
	}
}