:root {
	--green-italian-flag: #009246;
	--red-italian-flag: #ce2b37;
	--font-color-in-dark-background: white;
	--font-color-in-clear-background: #202124;

	--google-dark-color: #202124;
	--google-middle-color: #e5e5e5;

	--mine-dark-color: #1d2a42;
	--mine-middle-color: #fc0;

	--t3-dark-color: #003844;
	--t3-middle-color: #ffebc6;

	--t4-dark-color: #f05d23;
	--t4-middle-color: #c5d86d;
	--t4-font-color: var(--font-color-in-clear-background);


	--t5-dark-color: #5a0001;
	--t5-middle-color: #f45b69;
	--t5-font-color: var(--font-color-in-dark-background);
	
	--t6-dark-color: #0a2342;
	--t6-middle-color: #84bc9c;
	--t6-font-color: var(--font-color-in-dark-background);
	/* THEME ONE */
	/*
	--main-dark-color: var(--red-italian-flag);
	--main-middle-color: var(--green-italian-flag);
	--font-color-in-dark-background: white;
	--font-color-in-clear-background: #202124;
	--font-color-in-middle-background: var(--font-color-in-dark-background);
	*/

	/* THEME TWO */
	/*
	--main-dark-color: var(--mine-dark-color);
	--main-middle-color: var(--mine-middle-color);
	--font-color-in-dark-background: white;
	--font-color-in-clear-background: #202124;
	--font-color-in-middle-background: var(--font-color-in-clear-background);
	*/

	/* THEME THREE */
	/*
	--main-dark-color: var(--t3-dark-color);
	--main-middle-color: var(--t3-middle-color);
	--font-color-in-middle-background: var(--font-color-in-clear-background);
	*/

	/* THEME FOUR */
	--main-dark-color: var(--t4-dark-color);
	--main-middle-color: var(--t4-middle-color);
	--font-color-in-middle-background: var(--t4-font-color);
}

*{
	margin : 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

h1, h2 {
	font-weight: 300;
}
h1 {
	font-size: 3em;
	position: relative;
	margin-left: 1em;
	color: var(--text-header-color);
}

h2 {
	font-size: 2em;
	position: relative;
	margin-bottom: 1em;
	text-align: center;
}

h2::after {
	position: absolute;
	content: '';
	background-color: var(--main-dark-color);
	height: 10%;
	width: 90%;
	top: 100%;
	left: 50%;
	transform: translateX(-50%); 
}

h3 {
	font-weight: 600;
}
section {
	width: 80%;
	margin: auto;
}
.header {
	background-color: var(--main-dark-color);
	color: white;
	height: 10%;
	padding-block: 2em;
}
.header h1::before{
	position: absolute;
	content: 'The Ultimate';
	font-size: 0.5em;
	top: -25%;
}

.pizza_container {
	display: flex;
	flex-wrap: wrap;
}
.pizza_container > * {
	flex-basis: calc(700px - 40%);
	flex-grow: 1;
	margin: 1em 3em;
}

form {
	display: flex;
	flex-direction: column;
}

form > * {
	margin-top: 0.5em; 
}

form label {
	margin-top: 1em;
}

input, 
select{
	height: 3em;
	background: var(--main-middle-color);
	border: 0px;
	border-radius: 0.5em;
	padding-left: 1em;
	color: var(--font-color-in-middle-background);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#listLang {
	position: absolute;
	z-index: 2;
	top: 4vh;
	left: 90vw;
	width: 8em;
	background-color: var(--main-dark-color);
	color: white;
}

.pizza_recipe {
	background-color: var(--main-middle-color);
	border-radius: 1em;
	color: var(--font-color-in-middle-background);
}


.pizzaIngredient {
	display: flex;
}

.pizzaIngredient h3 {
	text-align: right;
}

.pizzaIngredient p {
	text-align: left;
	margin-top: 0.7em;
}

.pizzaIngredient > *{
	margin: 0.5em;
	width: 50%
}


#fermentationTimeId {
	position: relative;
}
#fermentationTimeId::after {
	position: absolute;
	content: '1';
	font-size: 0.7em;
	top: -20%;
	left: 99%;
}

input[type=range] {
	background-color: white;
	padding-left: 0;
}

.footer {
	width: 100%;
	background-color: var(--main-dark-color);
	color: white;
	padding-block: 3em;
	position: relative;
	margin-top: 2em;
}
.footer h3 {
	font-weight: 300;
	margin-top: 1em;
}
.footer > div {
	width: 80%;
	margin:auto;
}
.footer ul {
	margin-left: 1em;
}

a {
	position: relative;
	text-decoration: none;
	color: white;
	text-decoration: none;
	font-weight: 200;
}

a[href*="http"]::before {
	font-family: FontAwesome;
	content: '\f08e';
	position: absolute;
	left: 102%;
	top: 0.3em;
	color: white;
}

a[href*="ckevar"] {
	position: absolute;
	top: 0.7em;
	left: 1em;
	font-size: 1.5em;
}

a[href*="ckevar"]::before {
	content: 'created by';
	position: absolute;
	top: -20%;
	left: 0%;
	font-family: 'Poppins', sans-serif;
	font-size: 0.5em;
}

a[href*="ckevar"]::after {
	content: '';
	position: absolute;
	height: 0.15em;
	width: 100%;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 4.5em;
		top: 0.1em;
	}
	section {
		margin-top: 4em;
	}
	#listLang {
		font-size: 1.5em;
		left: calc(90% - 5em);
		top: 2em;
	}
	.pizza_container {
		margin-top: 6%;
	}
	.pizza_recipe {
		margin-top: 3%;
		height: 20%;
	}

	h2{
		font-size: 4.5em;
	}

	form label,
	form select,
	form input {
		font-size: 2em;
	}
	.pizzaIngredient h3 {
		font-size: 2em;
		font-weight: 400;
	}

	.pizzaIngredient p {
		font-size: 1.5em;
		text-align: left;
		margin-top: 0.95em;
	}
	.footer {
		padding-top: 10em;
	}

	a[href*="ckevar"] {
		font-size: 3em;
	}

}

/*slide*/
input[type=range] {
  height: 37px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--main-dark-color);
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #FFFFFF;
  border: 2px solid var(--main-dark-color);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--main-dark-color);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--main-dark-color);
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #FFFFFF;
  border: 1px solid var(--main-dark-color);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--main-dark-color);
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: var(--main-dark-color);
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #FFFFFF;
  border: 1px solid var(--main-dark-color);
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--main-dark-color);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--main-dark-color);
}
